<div class="reset-password-page container">
  <div class="row justify-content-center">
    <div class="col-sm-6 mt-5">
      <div class="card pr-5 pl-5 pb-5 pt-5">
        <form [formGroup]="form">
          <div class="form-group">
            <h6>Wachtwoord resetten</h6>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Wachtwoord" formControlName="password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Wachtwoord bevestigen" formControlName="passwordConfirmation">
          </div>
          <div class="form-group">
            <button class="btn btn-primary float-sm-right" [disabled]="!form.valid" [ladda]="isLoading" data-style="zoom-in" (click)="save()">Opslaan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
